<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title><template variable="title" default="Python SSG"></template> | Python SSG</title>
    <meta name='description' content='<template variable="description"></template>' />

    <script defer src="/assets/js/alpine.min.js"></script>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css?v=20260120">`
    <template variable="extra_head"></template>
</head>

<body data-bs-theme="light">
    <div id="app">